.Bdc\(\#fff\) {
    border-color: #fff;
  }
  .Bds\(da\) {
    border-style: dashed;
  }
  .Bds\(s\) {
    border-style: solid;
  }
  .Bdw\(1px\) {
    border-width: 1px;
  }
  .Bdrs\(50\%\) {
    border-radius: 50%;
  }
  .Bgc\(\#c1dbb1\) {
    background-color: #c1dbb1;
  }
  .Bgc\(\#c3b4cf\) {
    background-color: #c3b4cf;
  }
  .Bgc\(\#c6c4d8\) {
    background-color: #c6c4d8;
  }
  .Bgc\(\#d0d0e0\) {
    background-color: #d0d0e0;
  }
  .Bgc\(\#d8e1b3\) {
    background-color: #d8e1b3;
  }
  .Bgc\(\#e7c8a4\) {
    background-color: #e7c8a4;
  }
  .Bgc\(\#f5ced7\) {
    background-color: #f5ced7;
  }
  .Bgc\(white\) {
    background-color: white;
  }
  .C\(\#74747b\) {
    color: #74747b;
  }
  .Cur\(p\) {
    cursor: pointer;
  }
  .D\(f\) {
    display: flex;
  }
  .D\(n\) {
    display: none;
  }
  .Fld\(c\) {
    flex-direction: column;
  }
  .Ai\(c\) {
    align-items: center;
  }
  .Jc\(c\) {
    justify-content: center;
  }
  .Fw\(600\) {
    font-weight: 600;
  }
  .Fz\(0\.75rem\) {
    font-size: 0.75rem;
  }
  .H\(100\%\) {
    height: 100%;
  }
  .H\(20px\) {
    height: 20px;
  }
  .H\(40px\) {
    height: 40px;
  }
  .H\(42px\) {
    height: 42px;
  }
  .Mx\(a\) {
    margin-left: auto;
    margin-right: auto;
  }
  .Mt\(\$xs\) {
    margin-top: 8px;
  }
  .Mb\(\$sm\) {
    margin-bottom: 12px;
  }
  .Maw\(400px\) {
    max-width: 400px;
  }
  .Maw\(600px\) {
    max-width: 600px;
  }
  .Objf\(cv\) {
    object-fit: cover;
  }
  .T\(-2px\) {
    top: -2px;
  }
  .T\(0\) {
    top: 0;
  }
  .T\(40vh\) {
    top: 40vh;
  }
  .T\(50\%\) {
    top: 50%;
  }
  .End\(0\) {
    right: 0;
  }
  .End\(18px\) {
    right: 18px;
  }
  .B\(0\) {
    bottom: 0;
  }
  .Start\(0\) {
    left: 0;
  }
  .Start\(18px\) {
    left: 18px;
  }
  .Op\(1\) {
    opacity: 1;
  }
  .Ov\(h\) {
    overflow: hidden;
  }
  .Px\(\$xs\) {
    padding-left: 8px;
    padding-right: 8px;
  }
  .Px\(\$xxs\) {
    padding-left: 4px;
    padding-right: 4px;
  }
  .Pb\(\$lg\) {
    padding-bottom: 24px;
  }
  .Pb\(\$sm\) {
    padding-bottom: 12px;
  }
  .Pe\(n\) {
    pointer-events: none;
  }
  .Pos\(a\) {
    position: absolute;
  }
  .Pos\(f\) {
    position: fixed;
  }
  .Pos\(r\) {
    position: relative;
  }
  .Ta\(c\) {
    text-align: center;
  }
  .Scale\(0\.7\) {
    transform: scale(0.7);
  }
  .Trs\(\$trssliderfast\) {
    transition: transform .1s linear;
  }
  .Trs\(\$trstransform\) {
    transition: transform .3s cubic-bezier(.25,.8,.5,1);
  }
  .W\(\$xl\) {
    width: 32px;
  }
  .W\(100\%\) {
    width: 100%;
  }
  .W\(176px\) {
    width: 176px;
  }
  .W\(20px\) {
    width: 20px;
  }
  .W\(40px\) {
    width: 40px;
  }
  .W\(42px\) {
    width: 42px;
  }
  .W\(44px\) {
    width: 44px;
  }
  .W\(58px\) {
    width: 58px;
  }
  .Z\(10\) {
    z-index: 10;
  }
  .Z\(20\) {
    z-index: 20;
  }
  