*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  margin: 0;
  height: 100%;
  background-color: white;
}
body,
button,
input{
  font-family: "Manrope", sans-serif;
}
p{
  margin: 0;
}
button {
  border: none;
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

.splashBg {
  background-color: #53538D;
}

.rotateplane {
  animation: rotateplane 1.2s infinite ease-in-out;
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.pendulum {
  transform-origin: top;
  animation: pendulum 3s forwards ease-in-out;
}

@keyframes pendulum {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.gravity {
  animation: gravity 6s forwards linear;
}

@keyframes gravity {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(60vh);
    opacity: 0;
  }
}

.rotate {
  animation: rotate 1.2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.soham{
  text-align: center;
  lighting-color: #53538D;
}